
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Layout/UserLayout.cshtml";
}

<div class="container">
    <section class="article-content div-shadow">
        <div class="row">
            <div class="col-xs-12 mt-4">
                <h3>Giới thiệu về chúng tôi</h3>
                <p>BookShop.com là trang tổng hợp các đầu sách tại các trang thương mại điện tử. Gom nhóm theo tác giả, nội dung, thể loại tại các trang thương mại điện tử và chương trình khuyến mãi của các trang thương mại điện tử.</p>
                <p>Đến với BookShop.com bạn sẽ dễ dàng tìm kiếm các loại sách mà bạn cần. Những mặt hàng các loại sách mới nhất và đang hot nhất. Bạn cũng có thể dễ dàng tìm kiếm trên Google, trang tìm kiếm hàng đầu thế giới về sản phẩm bạn muốn. Và bạn sẽ tìm thấy ShopSach.com và nơi mua chúng. Để bạn có thể dễ dàng tìm kiếm và so sánh giá của các loại sách. Nên nhớ rằng chúng tôi không bán hàng. Chúng tôi chỉ giúp bạn tìm nơi để mua sản phẩm với giá RẺ, GẦN, NHANH.</p>
                <h3>Chức năng của BookShop.com hiện tại</h3>
                <p>– Tìm kiếm nhanh và chính xác thông tin sách tâm lý học, sách lịch sử, truyện tranh, tiểu thuyết, ...</p>
                <p>– Tra cứu giá bán và vị trí cũng như độ uy tín của bất kì nhà bán lẻ trên toàn quốc</p>
                <p>– Nhận được tư vấn về việc chọn mua và sử dụng sản phẩm/dịch vụ từ các chuyên gia và cộng đồng.</p>
                <h3>Đôi lời về tác giả</h3>
                <p>Với tất cả niềm đam mê và lòng nhiệt huyết, BookShop.com đã trở thành một thương hiệu được tín đồ yêu thích các loại sách quan tâm cũng như được đông đảo mọi người ưa chuộng sử dụng và đặt niềm tin.</p>
                <p>Hi vọng, BookShop.com sẽ nhận được nhiều ý kiến, đóng góp để chúng tôi ngày càng hoàn thiện và phát triển.</p>
                <p>Mọi ý kiến đóng góp, vui lòng liên hệ qua email: <a href="#" title="Mail Books Shop!">lienhe@booksshop.com</a></p><br><br><br><br><br>
            </div>
        </div>
    </section>
</div>
