
<div style="position:relative">
    <a href="@Url.Action("GioHang", "GioHang")">
        <img src="@Url.Content("~/Content/images/iconCart.png")" width="50" height="50" style="border-radius:50%" />
    </a>
    <div style="position:absolute; top:0; right:0;">
        <p class="text-danger fw-bold">@ViewBag.TongSL</p>
    </div>
</div>
